<!-- <h1>Volunteers </h1>

<h3>Available Specialties:</h3>

<% @specialties.each() do |specialty| %>
  <%= specialty.name %>
<% end %>

<form class="patientSearch" action="/specialty" method="post">
  <div class="form-group">
    <label for="specialty">Search by Specialty</label>
    <input type="text" name="specialty" placeholder="'Surgery'" required>
  </div>

  <button type="submit" class="btn btn-info">Submit</button>
</form>

<% if @specialty.doctors.any?() %>
  <h3>Here are your specialists:</h3>

  <ul>
    <% @specialty.doctors.each() do |doctor| %>
      <li><a href="/doctors/<%= doctor.id%>"><%= doctor.name() %></a> </li>
    <% end %>
  </ul>

<% else %>

    <p>There are no doctors yet!</p>

<% end %>

<div class="container">
  <a href="/"><button class="btn">Home</a>
</div> -->
